In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.0       ✔ purrr   0.3.0
✔ tibble  2.0.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.2       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# tibble 是 dataFrame 的现代版，优先使用

In [2]:
df <- tibble(x = 1:6, y = 6:1)

In [3]:
df

  x y
1 1 6
2 2 5
3 3 4
4 4 3
5 5 2
6 6 1

In [6]:
# 插入行，指定位置插入行
df %>%
  add_row(x = 7, y = 0) %>%
  add_row(x = 7, y = 9, .before = 3)

  x y
1 1 6
2 2 5
3 7 9
4 3 4
5 4 3
6 5 2
7 6 1
8 7 0

In [7]:
# 插入列
df %>% 
  add_column(z = 2:7)

  x y z
1 1 6 2
2 2 5 3
3 3 4 4
4 4 3 5
5 5 2 6
6 6 1 7

In [8]:
# 两个表格合并，行、列
df1 = tibble(a = 1:2, b = 3:4)
df2 = tibble(a = 7:8, b = 9:10)

In [9]:
df1 %>%
  bind_rows(df2)

  a b
1 1  3
2 2  4
3 7  9
4 8 10

In [10]:
# 列相同的，会加上1/2区分
df1 %>%
  bind_cols(df2)

  a b a1 b1
1 1 3 7   9
2 2 4 8  10