### Basic math operations

In [3]:
4+5 #Addition

9

In [4]:
3^4 #Exponent

81

In [5]:
91/2 #Division

45.5

### Vector operations

In [1]:
A = [10, 20, 30] #Create a row vector.

3-element Array{Int64,1}:
 10
 20
 30

In [14]:
A[1] #Access first element. Julia is 1-indexed

10

In [15]:
A = [10;20;30] #Create a column vector. Semi-colon is used to change row.

3-element Array{Int64,1}:
 10
 20
 30

In [16]:
A[1] = 199 #Change a value at index 1.
A

3-element Array{Int64,1}:
 199
  20
  30

### Matrix operations

In [20]:
M = [1 2 3;4 5 6;7 8 9] #Semi-colon is used to change rows.
                        #Space is used to seperate columns.

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [27]:
M[1,2] = 3663 #Accessing element of 1st row and 2nd column.
M

3×3 Array{Int64,2}:
 1  3663  3
 4     5  6
 7     8  9

In [28]:
M' #Transpose of a matrix can be calculated using single qoute after the matrix name.

3×3 Array{Int64,2}:
    1  4  7
 3663  5  8
    3  6  9

In [29]:
inv(M) #Inverse of a matrix.

3×3 Array{Float64,2}:
 -0.000136575  -1.49973       0.999863
  0.000273149  -0.000546299   0.000273149
 -0.000136575   1.16694      -0.666803

### Dictionary

In [37]:
D = Dict("name" => "Analytics Vidhya", "Year" => 2017) #Create a Dictionary.

Dict{String,Any} with 2 entries:
  "name" => "Analytics Vidhya"
  "Year" => 2017

In [38]:
D["Year"] #Access elements using keys.

2017

In [44]:
D.count #Number of elements in the dictionary.

2

### Strings

In [68]:
text = "Some String"     #Create a new string
println(text[1])         #Access character at index 1
println(text.len)        #Length of string

S
11

In [69]:
text[2:7]                #Extract the string from index 2 to 7.

"ome St"

Strings are immutable(cannnot be changed once created)

In [70]:
text[1] = "H"           #Should give an error

LoadError: MethodError: no method matching setindex!(::String, ::String, ::Int64)

### Loops

In [99]:
for item in "String"   #for loop
    println(item)
end

S
t
r
i
n
g

In [117]:
i=0
while i<=N            #while loop
    println(i)
    i += 1
end

0
1
2
3
4
5
6

In [110]:
fact=1
for i in range(1,5)
    fact = fact*i
end
print(fact)

120

### if-else conditional

In [109]:
N=6
if N>=0
    print("N is positive")
else
    print("N is negative")
end

N is positive